# Masukan API ID ambil di web my.telegram.org
API_ID =   "18465178"

# Masukan API HASH ambil di web my.telegram.org
API_HASH =   "211ccd177563555a5e5586474bb6ec81"

# Masukan String PYROGRAM Bisa di ambil Lewat t.me/StringManRobot
# Untuk Multi Client Tambahkan STRING_SESSION2 sampai STRING_SESSION5
STRING_SESSION1 = "BQAhIHQAbc0xYKq5YxXhFT1Kk1Vx-KhT_kc27X8aZSetNWUjVXonT_wnR_pb-0zQn3xJy0GLk_VCu_vyvQIs94KLI4IoiUf8HWtoxh45lkvzit8JCArByyB3kpIM683Ypbca31swoPm23dUdZntg1N6c5RQWegTS_LtutML0j8_k20QtHtFlSHSGe7X2rJfgD6Edfx0g33GrQP5OLlHMO17z6ZE6GqfTKHCtvetKeAbiFyv5DTx_CjKdIwWQsTCbyLEGxvJgK2bYoFzmKUQjm4tQ_hKS0wpknY1sINelwE5rWbtZRyi1ifikdpe-30XPWYwZec0nwcNyHFsMIo5iY7APVXFAAAAAB6-gXaAA"

# Masukan Chat ID dari Group Untuk Bot Log Userbot
# Bila tidak ingin pakai Log userbot, isi dengan 0
# Bila tidak di isi default pindah ke Pesan Tersimpan
BOTLOG_CHATID =  0  # ini adalah bilangan bulat, tolong jangan gunakan tanda kutip.

# Masukan URL Database Anda, Ambil dari https://elephantsql.com
# Contoh: "postgres://userbot:userbot@localhost:5432/userbot"
DATABASE_URL = "postgres://sxzzouja:9rAUHs2jfhNs9bkLbcgbEsLmCGUupMRN@satao.db.elephantsql.com/sxzzouja"
